.auth-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./drew-saurus-VA4dNztZVlA-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.auth-box {
    height: 300px;
}

#trans-background {
    background: rgba(25,25,25,0.5);
    color: white;
}

.auth-box-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.auth-buttons button {
    margin-right: 10px;
}